MODEL_OUTPUT_PATH="your output folder file path for where the trained model should dump its segmented image to"

TRAINING_FOLDER_PATH="folder path"
VALIDATION_FOLDER_PATH="folder path"
TEST_FOLDER_PATH="folder path"

TRAINED_MODEL_PATH="models path"

# Example of my .env setup, decide for yourself how you want to import everything
# MODEL_OUTPUT_PATH="./data/trained_model_output"

# TRAINING_FOLDER_PATH="./data/EWS-Dataset/train"
# VALIDATION_FOLDER_PATH="./data/EWS-Dataset/validation"
# TEST_FOLDER_PATH="./data/EWS-Dataset/test"

# TRAINED_MODEL_PATH="./models"