# images folder
data/*
# for structure
!data/.gitkeep

# trained models folders, do not commit your models to repo
models/*
# for structure
!models/.gitkeep

# env if u used it
.env

# os file
.DS_Store

# please do not commit ur venvs
.venv